@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   :root {
      --background: 0 0% 100%;
      --foreground: 240 10% 3.9%;
      --card: 0 0% 100%;
      --card-foreground: 240 10% 3.9%;
      --popover: 0 0% 100%;
      --popover-foreground: 240 10% 3.9%;
      --primary: 240 5.9% 10%;
      --primary-foreground: 0 0% 98%;
      --secondary: 240 4.8% 95.9%;
      --secondary-foreground: 240 5.9% 10%;
      --muted: 240 4.8% 95.9%;
      --muted-foreground: 240 3.8% 46.1%;
      --accent: 240 4.8% 95.9%;
      --accent-foreground: 240 5.9% 10%;
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 5.9% 90%;
      --input: 240 5.9% 90%;
      --ring: 240 5.9% 10%;
      --radius: 1rem;
      --softGrey: 217.5, 19.05%, 24.71%;
   }

   /* .dark {
      --background: 240, 7%, 11%;
      --foreground: 240, 1%, 84%;
      --card: 222, 12%, 22%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 12%;
      --popover-foreground: 0 0% 98%;
      --primary: 0, 88%, 68%;
      --primary-foreground: 240 5.9% 10%;
      --secondary: 35.24, 59.43%, 58.43%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 240 3.7% 15.9%;
      --accent-foreground: 240, 7%, 11%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
      --softGrey: 217.5, 19.05%, 24.71%;
   } */

   .dark {
      --background: 246.67, 30%, 11.76%;
      --foreground: 240, 1%, 84%;
      --card: 222, 12%, 22%;
      --card-foreground: 0 0% 98%;
      --popover: 0 0% 12%;
      --popover-foreground: 0 0% 98%;
      --primary: 31, 100%, 73%;
      --primary-foreground: 246.67, 30%, 11.76%;
      --secondary: 35.24, 59.43%, 58.43%;
      --secondary-foreground: 0 0% 98%;
      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;
      --accent: 253deg, 16%, 46%, 0.2;
      --accent-foreground: 255, 16%, 46%;
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;
      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
      --softGrey: 217.5, 19.05%, 24.71%;
   }
}

@layer base {
   * {
      @apply border-border;
   }
   body {
      @apply bg-background text-foreground;
   }
}

@layer components {
   .hover-underline {
      @apply relative inline-block;
   }
   .hover-underline::after {
      content: "";
      @apply absolute bg-current;
      width: 0;
      height: 1px;
      bottom: 0;
      left: 50%;
      transition: width 0.4s ease, left 0.4s ease;
   }
   .hover-underline:hover::after {
      width: 100%;
      left: 0;
   }
}

#scroller * {
   overflow-anchor: none;
}

#anchor {
   overflow-anchor: auto;
   height: 1px;
}

:root {
   --scrollbar-thumb-color: #ccc;
   --scrollbar-thumb-hover-color: #aaa;
}

::-webkit-scrollbar {
   width: 6px;
   height: 6px;
}

::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-thumb-color);
   border-radius: 999px;
   transition: width 0.3s, height 0.3s, visibility 0.3s;
}

::-webkit-scrollbar-thumb:hover {
   background-color: var(--scrollbar-thumb-hover-color);
}

::-webkit-scrollbar-thumb:not(:hover) {
   width: 0;
   height: 0;
   visibility: hidden;
}
